/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #858484;
    padding: 10px 20px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    color: #ffffff;
    padding: 5px;


}

.menu span {
    margin-left: 15px;
}


main {
    text-align: center;
}

.main-content {
    background-color: #f47c7c;
    color: white;
    padding: 50px 0;
}

.main-content h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
}

.text-section {
    background-image: url('sky.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 30px 20px;
}


.image-section {
    text-align: center;
    margin: 20px 0;
}

.image-section img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.image-section p {
    font-size: 1rem;
    color: #333;
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.6;
}